@import "variables";

@font-face
{
    font-family: "Roboto-Regular";
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face
{
    font-family: "Roboto-Bold";
    src: url("../fonts/Roboto/Roboto-Bold.ttf");
}

*
{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto-Regular";
}

header
{
    height: 400px;
    width: 100%;

    @media all and (max-width: 768px)
    {
        height: 264px;
    }

    > img
    {
        height: 400px;
        width: 100%;
        filter: brightness(40%);
        object-fit: cover;
        object-position: center;

        @media all and (max-width: 768px)
        {
            height: 264px;
        }
    }

    .headerTop
    {
        position: absolute;
        top: 0px;
        height: 44px;
        width: 100%;
        padding-left: 2%;
        margin-top: 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;

        @media all and (max-width: 1024px)
        {
            font-size: 10pt;
        }

        nav
        {
            @media all and (max-width: 768px)
            {
                position: absolute;
                width: 100%;
                height: 100vh;
                background-color: #252525;
                left: 0%;
                top: -20px;
                padding-top: 20px;
                box-sizing: border-box;
                text-align: center;
                z-index: 1;

                &.visible-nav
                {
                    display: initial;
                }

                &.hidden-nav
                {
                    display: none;
                }
            }

            > ul
            {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: stretch;
                max-height: 44px;

                @media all and (max-width: 768px)
                {
                    flex-direction: column;
                    max-height: unset;
                }

                > li
                {
                    padding: 0px 30px;
                    position: relative;
                    
                    @media all and (max-width: 768px)
                    {
                        font-size: 16pt;
                        border-top: 1px solid #606060;
                    }

                    @media all and (max-width: 1024px)
                    {
                        padding: 0px 20px;
                    }

                    &:last-child
                    {
                        @media all and (max-width: 768px)
                        {
                            border-bottom: 1px solid #606060;
                        }
                    }

                    &.active
                    {
                        > a
                        {
                            cursor: default;
                        }

                       @media all and (max-width: 768px)
                        {
                            border-radius: 0px;
                            background-color: #3e3e3e;
                            
                            > a
                            {
                                color: white;
                            }
                        }
                    }
                }
            }

            li
            {
                list-style-type: none;
                line-height: 40px;
                color: $li_text_color;

                &.active
                {
                    background-color: $li_text_color;
                    border-radius: 25px;

                    > a
                    {
                        color: $li_active_text_color
                    }
                }

                .hoverBorder
                {
                    width: 100%;
                    height: 2px;
                    background-color: $li_text_color;
                    display: block;
                    position: relative;
                    top: -7px;
                    opacity: 0;
                    transition: all 0.3s ease;

                    @media all and (max-width: 768px)
                    {
                        opacity: 0;
                    }
                }

                > a
                {
                    font-family: "Roboto-Bold";
                    text-decoration: none;
                    color: $li_text_color;
                    display: block;
                    padding-top: 2px;

                    &:hover
                    {
                        .hoverBorder
                        {
                            opacity: 1;

                            @media all and (max-width: 768px)
                            {
                                opacity: 0;
                            }
                        }
                    }
                }

                img
                {
                    width: 10px;
                    fill: $li_text_color;
                    margin-left: 5px;
                    vertical-align: middle;

                    @media all and (max-width: 768px)
                    {
                        width: 20px;
                    }
                }

                .dropdown-container
                {
                    transition: all 0.5s ease;
                    visibility: hidden;
                    opacity: 0;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    width: auto;
                    z-index: 1;

                    @media all and (max-width: 768px)
                    {
                        visibility: visible;
                        position: relative;
                        opacity: 1;
                    }

                    &:hover
                    {
                        visibility: visible;
                        opacity: 1;
                    }

                    .triangle
                    {
                        width: 0;
                        height: 0;
                        border: 0 solid transparent;
                        border-right-width: 7px;
                        border-left-width: 7px;
                        border-bottom: 12px solid rgba(0, 0, 0, 0.8);
                        position: relative;
                        margin-left: auto;
                        z-index: 1;

                        @media all and (max-width: 768px)
                        {
                            display: none;
                        }
                    }

                    .dropdown-list
                    {
                        position: relative;
                        width: auto;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: stretch;
                        z-index: 1;

                        > li
                        {
                            background-color: rgba(0, 0, 0, 0.8);
                            text-align: center;
                            padding: 0px 25px;
                            width: auto;
                            white-space: nowrap;

                            @media all and (max-width: 768px)
                            {
                                background-color: initial;
                            }
                            
                            > a
                            {
                                width: auto;
                                font-size: 10pt;

                                @media all and (max-width: 768px)
                                {
                                    font-size: 12pt;
                                }
                            }

                            &:first-child
                            {
                                border-top-left-radius: 5px;
                                border-top-right-radius: 5px;
                            }

                            &:last-child
                            {
                                border-bottom-left-radius: 5px;
                                border-bottom-right-radius: 5px;
                            }
                        }
                    }

                    .visible-dropdown
                    {
                        @media all and (max-width: 768px)
                        {
                            display: initial;
                        }
                    }

                    .hidden-dropdown
                    {
                        @media all and (max-width: 768px)
                        {
                            display: none;
                        }
                    }
                }

                &.item-list
                {
                    a
                    {
                        &:hover
                        {
                            + .dropdown-container
                            {
                                visibility: visible;
                                opacity: 1;
                            }
                        }
                    }

                    .dropdown-arrow
                    {
                        @media all and (max-width: 768px)
                        {
                            transition: all 0.3s ease;
                        }
                    }

                    .dropdown-arrow-reversed
                    {
                        @media all and (max-width: 768px)
                        {
                            transform: rotate(180deg);
                            transition: all 0.3s ease;
                        }
                    }
                }
            }
        }

        .logo-container
        {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: stretch;
            margin-right: 5%;
            height: 44px;

            > img
            {
                width: 30px;
                vertical-align: middle;
            }

            > p
            {
                font-family: "Roboto-Bold";
                margin-left: 10px;
                line-height: 44px;
                color: $li_text_color;
            }
        }

        .burger-container
        {
            margin-left: auto;
            margin-right: 20px;
            z-index: 1;

            @media all and (min-width: 769px)
            {
                display: none;
            }

            .burger
            {
                position: relative;
                top: 8px;

                &:hover
                {
                    cursor: pointer;
                }

                .burger-top, .burger-middle, .burger-bottom
                {
                    display: block;
                    height: 5px;
                    width: 36px;
                    border-radius: 3px;
                    background-color: white;
                    transition: all 0.3s ease;
                }

                .burger-top, .burger-middle
                {
                    margin-bottom: 7px;
                }

                .animation-top
                {
                    transform: rotate(-45deg) translate(-8px, 9px);
                }
            
                .animation-middle
                {
                    opacity: 0;
                }
            
                .animation-bottom
                {
                    transform: rotate(45deg) translate(-8px, -9px);
                }
            }
        }
    }

    .headerBottom
    {
        position: absolute;
        top: 64px;
        height: 336px;
        width: 100%;

        @media all and (max-width: 768px)
        {
            height: 200px;
            top: 64px;
        }

        > div
        {
            color: $li_text_color;
            font-size: 36pt;
            font-family: "Roboto-Regular";
            vertical-align: middle;
            text-align: center;
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            @media all and (max-width: 768px)
            {
                font-size: 16pt;
            }
        }
    }
}

footer
{
    height: 50px;
    line-height: 50px;
    font-size: 10pt;
    padding: 0% 3%;
    text-align: right;
    vertical-align: middle;

    @media all and (max-width: 768px)
    {
        font-size: 8pt;
    }

    > span
    {
        color: $footer_span_color;
    }
}

main
{
    height: fit-content;
    
    .main-container
    {
        max-width: 1140px;
        margin: auto;
        position: relative;
    }

    h1
    {
        font-size: 28pt;
        font-family: "Roboto-Bold";

        @media all and (max-width: 768px)
        {
            font-size: 22pt;
        }
    }

    h2
    {
        text-align: left;
        margin-top: 30px;
        font-size: 18pt;
        font-family: "Roboto-Bold";

        @media all and (max-width: 768px)
        {
            font-size: 14pt;
        }
    }

    article
    {
        > p
        {
            font-family: "Roboto-Regular";
            text-align: justify;
            margin: 25px 0px;
            font-size: 12pt;
        }
    }
}