p {
  color: #FFFFFF; }

@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto/Roboto-Regular.ttf"); }

@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto/Roboto-Bold.ttf"); }

* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto-Regular"; }

header {
  height: 400px;
  width: 100%; }
  @media all and (max-width: 768px) {
    header {
      height: 264px; } }
  header > img {
    height: 400px;
    width: 100%;
    -webkit-filter: brightness(40%);
    filter: brightness(40%);
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center; }
    @media all and (max-width: 768px) {
      header > img {
        height: 264px; } }
  header .headerTop {
    position: absolute;
    top: 0px;
    height: 44px;
    width: 100%;
    padding-left: 2%;
    margin-top: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }
    @media all and (max-width: 1024px) {
      header .headerTop {
        font-size: 10pt; } }
    @media all and (max-width: 768px) {
      header .headerTop nav {
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: #252525;
        left: 0%;
        top: -20px;
        padding-top: 20px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        text-align: center;
        z-index: 1; }
        header .headerTop nav.visible-nav {
          display: initial; }
        header .headerTop nav.hidden-nav {
          display: none; } }
    header .headerTop nav > ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      max-height: 44px; }
      @media all and (max-width: 768px) {
        header .headerTop nav > ul {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          max-height: unset; } }
      header .headerTop nav > ul > li {
        padding: 0px 30px;
        position: relative; }
        @media all and (max-width: 768px) {
          header .headerTop nav > ul > li {
            font-size: 16pt;
            border-top: 1px solid #606060; } }
        @media all and (max-width: 1024px) {
          header .headerTop nav > ul > li {
            padding: 0px 20px; } }
        @media all and (max-width: 768px) {
          header .headerTop nav > ul > li:last-child {
            border-bottom: 1px solid #606060; } }
        header .headerTop nav > ul > li.active > a {
          cursor: default; }
        @media all and (max-width: 768px) {
          header .headerTop nav > ul > li.active {
            border-radius: 0px;
            background-color: #3e3e3e; }
            header .headerTop nav > ul > li.active > a {
              color: white; } }
    header .headerTop nav li {
      list-style-type: none;
      line-height: 40px;
      color: #FFFFFF; }
      header .headerTop nav li.active {
        background-color: #FFFFFF;
        border-radius: 25px; }
        header .headerTop nav li.active > a {
          color: #000000; }
      header .headerTop nav li .hoverBorder {
        width: 100%;
        height: 2px;
        background-color: #FFFFFF;
        display: block;
        position: relative;
        top: -7px;
        opacity: 0;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        @media all and (max-width: 768px) {
          header .headerTop nav li .hoverBorder {
            opacity: 0; } }
      header .headerTop nav li > a {
        font-family: "Roboto-Bold";
        text-decoration: none;
        color: #FFFFFF;
        display: block;
        padding-top: 2px; }
        header .headerTop nav li > a:hover .hoverBorder {
          opacity: 1; }
          @media all and (max-width: 768px) {
            header .headerTop nav li > a:hover .hoverBorder {
              opacity: 0; } }
      header .headerTop nav li img {
        width: 10px;
        fill: #FFFFFF;
        margin-left: 5px;
        vertical-align: middle; }
        @media all and (max-width: 768px) {
          header .headerTop nav li img {
            width: 20px; } }
      header .headerTop nav li .dropdown-container {
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        width: auto;
        z-index: 1; }
        @media all and (max-width: 768px) {
          header .headerTop nav li .dropdown-container {
            visibility: visible;
            position: relative;
            opacity: 1; } }
        header .headerTop nav li .dropdown-container:hover {
          visibility: visible;
          opacity: 1; }
        header .headerTop nav li .dropdown-container .triangle {
          width: 0;
          height: 0;
          border: 0 solid transparent;
          border-right-width: 7px;
          border-left-width: 7px;
          border-bottom: 12px solid rgba(0, 0, 0, 0.8);
          position: relative;
          margin-left: auto;
          z-index: 1; }
          @media all and (max-width: 768px) {
            header .headerTop nav li .dropdown-container .triangle {
              display: none; } }
        header .headerTop nav li .dropdown-container .dropdown-list {
          position: relative;
          width: auto;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: start;
          -ms-flex-pack: start;
          justify-content: flex-start;
          -webkit-box-align: stretch;
          -ms-flex-align: stretch;
          align-items: stretch;
          z-index: 1; }
          header .headerTop nav li .dropdown-container .dropdown-list > li {
            background-color: rgba(0, 0, 0, 0.8);
            text-align: center;
            padding: 0px 25px;
            width: auto;
            white-space: nowrap; }
            @media all and (max-width: 768px) {
              header .headerTop nav li .dropdown-container .dropdown-list > li {
                background-color: initial; } }
            header .headerTop nav li .dropdown-container .dropdown-list > li > a {
              width: auto;
              font-size: 10pt; }
              @media all and (max-width: 768px) {
                header .headerTop nav li .dropdown-container .dropdown-list > li > a {
                  font-size: 12pt; } }
            header .headerTop nav li .dropdown-container .dropdown-list > li:first-child {
              border-top-left-radius: 5px;
              border-top-right-radius: 5px; }
            header .headerTop nav li .dropdown-container .dropdown-list > li:last-child {
              border-bottom-left-radius: 5px;
              border-bottom-right-radius: 5px; }
        @media all and (max-width: 768px) {
          header .headerTop nav li .dropdown-container .visible-dropdown {
            display: initial; } }
        @media all and (max-width: 768px) {
          header .headerTop nav li .dropdown-container .hidden-dropdown {
            display: none; } }
      header .headerTop nav li.item-list a:hover + .dropdown-container {
        visibility: visible;
        opacity: 1; }
      @media all and (max-width: 768px) {
        header .headerTop nav li.item-list .dropdown-arrow {
          -webkit-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease; } }
      @media all and (max-width: 768px) {
        header .headerTop nav li.item-list .dropdown-arrow-reversed {
          -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          transform: rotate(180deg);
          -webkit-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease; } }
    header .headerTop .logo-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      margin-right: 5%;
      height: 44px; }
      header .headerTop .logo-container > img {
        width: 30px;
        vertical-align: middle; }
      header .headerTop .logo-container > p {
        font-family: "Roboto-Bold";
        margin-left: 10px;
        line-height: 44px;
        color: #FFFFFF; }
    header .headerTop .burger-container {
      margin-left: auto;
      margin-right: 20px;
      z-index: 1; }
      @media all and (min-width: 769px) {
        header .headerTop .burger-container {
          display: none; } }
      header .headerTop .burger-container .burger {
        position: relative;
        top: 8px; }
        header .headerTop .burger-container .burger:hover {
          cursor: pointer; }
        header .headerTop .burger-container .burger .burger-top, header .headerTop .burger-container .burger .burger-middle, header .headerTop .burger-container .burger .burger-bottom {
          display: block;
          height: 5px;
          width: 36px;
          border-radius: 3px;
          background-color: white;
          -webkit-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease; }
        header .headerTop .burger-container .burger .burger-top, header .headerTop .burger-container .burger .burger-middle {
          margin-bottom: 7px; }
        header .headerTop .burger-container .burger .animation-top {
          -webkit-transform: rotate(-45deg) translate(-8px, 9px);
          -ms-transform: rotate(-45deg) translate(-8px, 9px);
          transform: rotate(-45deg) translate(-8px, 9px); }
        header .headerTop .burger-container .burger .animation-middle {
          opacity: 0; }
        header .headerTop .burger-container .burger .animation-bottom {
          -webkit-transform: rotate(45deg) translate(-8px, -9px);
          -ms-transform: rotate(45deg) translate(-8px, -9px);
          transform: rotate(45deg) translate(-8px, -9px); }
  header .headerBottom {
    position: absolute;
    top: 64px;
    height: 336px;
    width: 100%; }
    @media all and (max-width: 768px) {
      header .headerBottom {
        height: 200px;
        top: 64px; } }
    header .headerBottom > div {
      color: #FFFFFF;
      font-size: 36pt;
      font-family: "Roboto-Regular";
      vertical-align: middle;
      text-align: center;
      position: relative;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
      @media all and (max-width: 768px) {
        header .headerBottom > div {
          font-size: 16pt; } }

footer {
  height: 50px;
  line-height: 50px;
  font-size: 10pt;
  padding: 0% 3%;
  text-align: right;
  vertical-align: middle; }
  @media all and (max-width: 768px) {
    footer {
      font-size: 8pt; } }
  footer > span {
    color: #29B6F6; }

main {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content; }
  main .main-container {
    max-width: 1140px;
    margin: auto;
    position: relative; }
  main h1 {
    font-size: 28pt;
    font-family: "Roboto-Bold"; }
    @media all and (max-width: 768px) {
      main h1 {
        font-size: 22pt; } }
  main h2 {
    text-align: left;
    margin-top: 30px;
    font-size: 18pt;
    font-family: "Roboto-Bold"; }
    @media all and (max-width: 768px) {
      main h2 {
        font-size: 14pt; } }
  main article > p {
    font-family: "Roboto-Regular";
    text-align: justify;
    margin: 25px 0px;
    font-size: 12pt; }
